# Python virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.db
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/
.idea/

# Other
*.swp
*.bak
*.tmp